{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <!-- <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>  -->
    <h1>Getting Started with IS601 @NJIT</h1>
    <p>This assignment is for week #2, It's a simple web page deployed to Heroku and is version controlled in my GitHub repo setup for IS601.  This weeks exercise provided a basic foundation for better understanding the Heroku platform, using formatting templates such as bootstrap and learning to use GitHub combined with the IDE PhpStorm.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span> Heroku Example Source on GitHub</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/hoa44/IS601"><span class="glyphicon glyphicon-fire"></span> Hubbard's IS601 GitHub Repo</a>
  </div>
</div>


<div class="container">

  <div class="row align-items-center">
    <div class="col">
      <p>The table below includes a selection commits to my GitHub repository, there were many more commits made during this exercise because I was experimenting and practicing trying to learn how to use PhpStorm and GitHub.  This table is basically a selection of GitHub history outlining my effort to complete the 2nd weeks assignment for IS601. </p>

    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Git Commits by Hash</th>
      <th scope="col">Commit Comments</th>
      <th scope="col">Date</th>
      <th scope="col">Repo Point in Time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="https://github.com/hoa44/IS601/commit/9158ad6dada5c760aab83d809624ac4cbfc17d8d">9158ad6</a></td>
      <td>Testing commit with basic table added to index.twig</td>
      <td>Feb 2, 2019</td>
      <td><a href="https://github.com/hoa44/IS601/blob/9158ad6dada5c760aab83d809624ac4cbfc17d8d/web/views/index.twig">index.twig</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="https://github.com/hoa44/IS601/commit/3ac06decaff11668ddb765e11bab1f09093667a6">3ac06de</a></td>
      <td>Going to push to Heroku and Git</td>
      <td>Feb 3, 2019</td>
      <td><a href="https://github.com/hoa44/IS601/blob/3ac06decaff11668ddb765e11bab1f09093667a6/web/views/index.twig">index.twig</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href="https://github.com/hoa44/IS601/commit/2c066a7e42f1cd3607426a44772faf266b16eb5d">2c066a7</a></td>
      <td>Updating table with GitHub details</td>
      <td>Feb 4, 2019</td>
      <td><a href="https://github.com/hoa44/IS601/blob/2c066a7e42f1cd3607426a44772faf266b16eb5d/web/views/index.twig">index.twig</a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a href="https://github.com/hoa44/IS601/commit/79c1568d332806325b2b183a39df5f392641ff56">79c1568</a></td>
      <td>Expand to 5 rows and update description of assignment.</td>
      <td>Feb 4, 2019</td>
      <td><a href="https://github.com/hoa44/IS601/blob/79c1568d332806325b2b183a39df5f392641ff56/web/views/index.twig">index.twig</a></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>


    <div class="row">
      <div class="col-sm-6">
        <p>The table above includes a breakdown of the key commits to my GitHub repository.  It is basically a table my GitHub history outlining my effort to complete the 2nd weeks assignment.  You can view my entire commit history for this assignment <a href="https://github.com/hoa44/IS601/commits/master">here.</a></p>

      </div>
      <div class="col-sm-6">
        <p>I have worked with web app version control systems designed for classical engineering, and manufacturing environments that manage the development efforts of mechanical and electrical designers.  These systems manage large file content in binary formats instead of text based code, and involve significant hosting infrastructures in the cloud or on premises.  I am amazed that Heroku platform has pretty much abstracted away the entire hosting infrastructure knowledge required to deploy web applications securely.  In this scenario, the developer doesn't need to concern themselves with all the gory details of web server setup, hardware, tls certs, authentication etc.  This great for rapid development of web applications, but it does create a low barrier to entry for acquiring development staff that don't need to know how to deal with all the back end pieces.</p>

      </div>
    </div>

  <!-- <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert-link">Getting Started with PHP on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/php-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/php-getting-started/blob/master/composer.json">composer.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/php-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd php-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-php#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-php">Deploying PHP Apps on Heroku</a></li>
      </ul>
    </div>
  </div>
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div> -->


{% endblock %}
